attrs==22.2.0
colorama==0.4.6
coverage==7.0.5
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
pytest==7.2.1
pytest-cov==4.0.0
pip~=23.0.1
build~=0.10.0
wheel~=0.40.0
keyring~=23.13.1
setuptools~=67.6.1
zipp~=3.15.0
calc~=1.0